section {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.container-window{
    width: 50rem;
    height: 50rem;
    background-color:aquamarine;
}
section p {
    justify-content: center;
    display: flex;
}
.leftBox{
    position: relative;
    background-color: green;
    width: 33.33%;
    height: 100%;
}

.rightBox{
    background-color: red;
    width: 33.33%;
    height: 100%;
}

.middleBox{
    background-color: blue;
    width: 33.33%;
    height: 100px;
}   


/*Grid*/

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
    height: 300px;
    }
    
    .side-dog-right {
        transform: scaleX(-1);
    }
    .side-dog-up {
        transform: rotate(90deg);
    }
    .side-dog-down {
        transform: rotate(-90deg);
    }
    .imgHide {
        display: none;
    }
    .imgShow {
        display: block;
    }

    .main-dog {
        position: absolute;
        width:100px;
        height: 100px;
        top: 100px;
        left: 5.5rem;
    }

    /*Dogs*/

    .dog1 {
        position: absolute;
        width:100px;
        height: 100px;
    }

    .dog2 {
        position: absolute;
        width:100px;
        height: 100px;
        left: 5.5rem;
    }

    .dog3 {
        position: absolute;
        width:100px;
        height: 100px;
        left: 11rem;
    }

    .dog4 {
        position: absolute;
        width:100px;
        height: 100px;
        top: 100px;
    }

    .dog5 {
        position: absolute;
        width:100px;
        height: 100px;
        top: 100px;
        left: 11rem;
    }

    .dog6 {
        position: absolute;
        width:100px;
        height: 100px;
        top: 12.4rem;
    }

    .dog7 {
        position: absolute;
        width:100px;
        height: 100px;
        top: 12.4rem;
        left: 5.5rem;
    }

    .dog8 {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 12.4rem;
        left: 11rem;
    }