section {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.container-window{
    width: 50rem;
    height: 50rem;
    background-color:aquamarine;
}
section p {
    justify-content: center;
    display: flex;
}
.leftBox{
    position: relative;
    background-color: green;
    width: 33.33%;
    height: 100%;
}

.rightBox{
    background-color: red;
    width: 33.33%;
    height: 100%;
}

.middleBox{
    background-color: blue;
    width: 33.33%;
    height: 100px;
}   


/*Grid*/

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .side-dog-right {
        transform: scaleX(-1);
    }
    .side-dog-up {
        transform: rotate(90deg);
    }
    .side-dog-down {
        transform: rotate(-90deg);
    }
    
    .imgHide{
        display: none;
    }
    .imgShow{
        display: block;
    }
