* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: radial-gradient(circle 897px at 9% 80.3%, rgba(55, 60, 245, 1) 0%, rgba(234, 161, 15, 0.90) 100.2%);
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

section p {
    justify-content: center;
    display: flex;
}

/* Left box */
.container {
    align-items: center;
    margin: 0 1rem;
}

.leftBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

/* Middle Box */
.middleBox {
    max-width: 10rem;
    height: 40rem;
    margin-top: 1rem;
}

/* Right box */
.rightBox {
    width: 33.33%;
    height: 40rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
}

.rightBox button {
    padding: 15px 30px;
    border: 2px solid #2c2c2c;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
    margin: 2rem 0;
    flex-basis: calc(50% - 0.5rem);
}

.rightBox button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 70%);
    transform: scale(0);
    transition: transform 0.5s ease;
}

.rightBox button:hover:after {
    transform: scale(4);
}

/* Grid */
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
    height: 300px;
}

.side-dog-right {
    transform: scaleX(1);
}

.side-dog-up {
    transform: rotate(-90deg);
}

.side-dog-down {
    transform: rotate(90deg);
}

.imgHide {
    display: none;
}

.imgShow {
    display: block;
}

.main-dog {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 5.5rem;
}

/* Dogs */
.dog1,
.dog2,
.dog3,
.dog4,
.dog5,
.dog6,
.dog7,
.dog8 {
    position: absolute;
    width: 100px;
    height: 100px;
}

.dog2 {
    left: 5.5rem;
}

.dog3 {
    left: 11rem;
}

.dog4 {
    top: 100px;
}

.dog5 {
    top: 100px;
    left: 11rem;
}

.dog6 {
    top: 12.4rem;
}

.dog7 {
    top: 12.4rem;
    left: 5.5rem;
}

.dog8 {
    top: 12.4rem;
    left: 11rem;
}

/* Rows */
.row1,
.row2,
.row3,
.row4,
.row5,
.row6 {
    display: flex;
}

.row1,
.row2,
.row3,
.row4,
.row5,
.row6 img {
    height: 100px;
    width: 100px;
}

/* Tutorial */
.tutorial-image {
    width: 50rem;
    height: auto;
}

.image-container {
    position: relative;
}

.plus-one {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: #f00;
}

pre {
    display: block;
    font-family: monospace;
    unicode-bidi: isolate;
    white-space: pre;
    margin: 1em 0px;
    border: 1px black solid ;
    background-color: gray;
    width: max-content;
}

.rainbow {
    background-size: 200% auto;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    background-image: linear-gradient(
        45deg, 
        red, 
        orange, 
        yellow, 
        green, 
        blue, 
        indigo, 
        violet
    );
    animation: rainbow 2s linear infinite;
}

@keyframes rainbow {
    0% {background-position: 100% 0;}
    100% {background-position: 0 100%;}
}

.rainbow2 {
    background-size: 200% auto;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    background-image: linear-gradient(
        45deg, 
        red, 
        orange, 
        yellow, 
        green, 
        blue, 
        indigo, 
        violet
    );
    animation: rainbow 10s alternate-reverse infinite;
}

@keyframes rainbow {
    0% {background-position: 100% 0;}
    100% {background-position: 0 100%;}
}